<p>
  <b>Name:</b>
  <%=h @channel.name %>
</p>

<p>
  <b>Character limit:</b>
  <%=h @channel.character_limit %>
</p>


<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
